body{
    padding: 0px;
    margin: 0px;
    background-color: #000000;
}
.container{
    max-width: 1485px;
    margin: 0 auto;
}
.container>header{
    position: relative;
    padding-left: 0px;
    width: 1485px;
    height: 138px;
    left: 0px;
    top: 0px;
    background: #5B5AA7;
}
.anh1{
    position: absolute;
    width: 98px;
    height: 97px;
    left: 43px;
    top: 21px;    
}
.head{
    position: relative;
}
.n1{
    position: absolute;
    width: 161px;
    height: 29px;
    left: 189px;
    top: 56px;
    text-decoration: none;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;
}
.n2{
    position: absolute;
    width: 161px;
    height: 51px;
    left: 340px;
    top: 45px;
    text-decoration: none;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.n3{
    position: absolute;
    width: 137px;
    height: 45px;
    left: 484px;
    top: 48px;
    text-decoration: none;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
.n4{
    position: absolute;
    width: 128px;
    height: 45px;
    left: 626px;
    top: 48px;
    text-decoration: none;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
input{
    position: absolute;
    padding-left: 10px;
    width: 425px;
    height: 63px;
    left: 796px;
    top: 36px;
    background: #ffffff;
    border-radius: 40px;
}
input::placeholder{
    position: absolute;
    top: 27px;
    left: 20px;  
}
.search img{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 1180px;
    top: 55px;
}
.anh2{
    position: absolute;
    width: 71px;
    height: 70px;
    left: 1253px;
    top: 32px;
}
.anh3{
    position: absolute;
    width: 71px;
    height: 70px;
    left: 1345px;
    top: 33px;
}
.container>nav .anh4{
    position: relative;
    width: 1485px;
    height: 800px;
    left: 0px;
    top: 0px;
}
.container>article{
    position: relative;
    float: left;
    left: 0px;
    top: 0px;
    width: 80%;
    min-height: 2000px;
}
.container>article>.menu1>.bang1{
    width: 1357px;
    background-color: #3B3A60;
    left: 50px;
    top: 64px;
    height: 600px;
    margin-bottom: 32px;
    position: relative;
    box-shadow: 0 3px 10px 0 rgba(17, 17, 17, 0.4);
    border-radius: 4px;
}
.container>article>.menu1>.coming{
    position: absolute;
    width: 467px;
    height: 109px;
    left: 487px;
    top: 20px;
    background: #924747;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 58px;
    color: #fff;
}
.container>article>.menu1>.bang1>.item-sale{
    position: relative;
    width: 98%;
    height: 470px;
    left: 11px;
    top: 100px;
    background-color: #000;
    border-radius: 4px;
    overflow: hidden;
}
.container>article>.menu1>.bang1 .anh5{
    position: absolute;
    width: 830px;
    height: 510px;
    box-sizing: border-box;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}
.container>article>.menu1>.bang1>.item-sale h1{
    position: absolute;
    width: 381px;
    height: 61px;
    left: 850px;
    top: -30px;
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.container>article>.menu1>.bang1 .anh6{
    position: absolute;
    width: 223px;
    height: 137px;
    right: 260px;
    top: 60px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
.container>article>.menu1>.bang1 .anh7{
    position: absolute;
    width: 223px;
    height: 137px;
    right: 20px;
    top: 60px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
.container>article>.menu1>.bang1 .anh8{
    position: absolute;
    width: 223px;
    height: 137px;
    right: 20px;
    top: 220px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
.container>article>.menu1>.bang1 .anh9{
    position: absolute;
    width: 223px;
    height: 137px;
    right: 260px;
    top: 220px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
.container>.aside1{
    float: left;
    background-color: aqua;
    height: 1000px;
    width: 10%;
}
.container>.aside2{
    float: right;
    background-color: aqua;
    height: 1000px;
    width: 10%;
}
.container>footer{
    background-color: brown;
    clear: both;
}