body{
    background-color: #030424;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    position: relative;
    width: 1481px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #5B5AA7;
}
.anh1{
    position: absolute;
    width: 98px;
    height: 97px;
    left: 43px;
    top: 5px;    
}
.head{
    position: relative;
}
.menu>ul>li{
    display: inline-block;
    position: relative;
    left: 150px;
    top: 40px;
    margin-left: 35px;
    font-size: 20px;
}
.menu>ul>li>a{
    display: block;
    text-decoration: none;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
    height: 60px;
}
.menu>ul>li>a:hover{
    color: aqua;
}
.menu>ul>li:hover>ul{
    display: block;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color: #5B5AA7;
    text-decoration: none;
    font-size: larger;
    padding: 0 10px;
    text-align: left;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}
.menu ul ul a:hover{
    background-color: #5B5AA7;
    color: white;
    z-index: 1;
}
.head input{
    position: absolute;
    padding-left: 10px;
    width: 425px;
    height: 63px;
    left: 796px;
    top: 20px;
    background: #ffffff;
    border-radius: 40px;
}
.head input::placeholder{
    position: absolute;
    top: 23px;
    left: 20px;  
}
.search img{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 1180px;
    top: 38px;
}
.anh2{
    position: absolute;
    width: 68px;
    height: 70px;
    left: 1253px;
    top: 16px;
}
.anh3{
    position: absolute;
    width: 68px;
    height: 70px;
    left: 1345px;
    top: 15px;
}
hr{
    position: relative;
    top: 35px;
}
.register{
    margin: 100px;
    margin-left: 500px;
    position: relative;
    border: 5px solid black;
    background-color: #5B5AA7;
    width: 500px;
    height: 600px;
    border-radius: 10px;
}
.hoten{
    margin-left: 35px;
}
.register .ten{
    width: 150px;
    height: 45px;
    padding: 6px;
    margin-left: 16px;
    margin-top: 70px;
    outline-color: #5B5AA7;
}
.register .dt{
    width: 80%;
    height: 45px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 8px;
    font-size: 14px;
    outline-color: #5B5AA7;
}
.register .mk{
    width: 80%;
    height: 45px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 8px;
    font-size: 14px;
    outline-color: #5B5AA7;
}
.ngaysinh{
    margin-left: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.text-ngaysinh{
    font-size: 19px;
    color: #000;
}
.ns{
    width: 150px;
    height: 45px;
    padding: 6px;
    margin-right: 30px;
    margin-bottom: 16px;
    outline-color: #5B5AA7;
}
.gioitinh{
    margin-left: 50px;
    margin-top: 0px;
}
.text-gioitinh{
    
    font-size: 19px;
    color: #000;
}
.btn-gt{
    display: flex;
    flex-wrap: wrap;
}
.gt-khung{
    
    margin-right: 16px;
    left: 50px;
    padding: 8px 10px;
    border: 1px solid #000;
    background-color: #FFFFFF; 
}

.gt-khung:hover{
    border:1px solid #5B5AA7;
    
}
.register h2{
    position: relative;
    text-align: center;
    top: 20px;
}
.dangky{
    margin-top: 20px;
    margin-left: 50px;
}
.nut-dangky{
    width: 88%;
    padding: 10px;
    font-size: 19px;
    margin:  12px 0;
    color: #fff;
    background-color: #0b129b;
    opacity: 0.9;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
.nut-dangky:hover{
    opacity: 1;
}
.ket{
    font-size: 16px;
    font-weight: 10px;
    letter-spacing: 1px;
    word-spacing: 0px;
    text-align: center;
}
.ket a{
    text-decoration: none;
    color: #0b129b;
}